*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #b6e3d2;
    text-align: center;
}
.container{
    height: 70vh;
   
    display: flex;
  
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
    

.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
 border-radius: 1rem;
 border: none;
box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
font-size: 8vmin;
color:#EF7C8E;
background-color: #FAE8E0;

}
#reset-btn{
   padding:1rem;
   font-size:1.25rem;
   background-color: #EF7C8E;
   color: white;
border: none;

   border-radius: 1rem;
   cursor: pointer;
}
#new-btn{
     padding:1rem;
   font-size:1.25rem;
   background-color: #EF7C8E;
   color: white;
border: none;

   border-radius: 1rem;
   cursor: pointer;
}
#msg{



    font-size: 1.5rem;
    font-weight: bold;
    color: #EF7C8E;
    font-size: 5vmin;
}
.msg-container{
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.hide{
    display: none;
}